html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;

  margin: 0;

  background-color: rgb(252, 221, 167);
}
.carousel-control-prev-icon{
  animation: backInLeft;
  animation-duration:3s;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  animation: backInLeft;
  animation-duration:3s;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.w-100 {
  width: 70vw !important;
  height: 40vw;
  text-align: center;
  
}
.carousel-inner img {
  margin: auto;
}
.aboutUs {
  font-family: "Bad Script", cursive;
  font-weight: bolder;
  font-size: 5vw;

  margin-bottom: 60px;
  animation: backInLeft;
  animation-duration: 4s;
  text-align: center;

  color: #556b2f;
}

nav {
  animation: backInLeft;
  animation-duration: 2s;
}

.row.zeytuni {
  background-color: rgb(252, 221, 167);
}

nav img {
  max-width: 100%;
  height: auto;

  animation-duration: 2s;
}

.row.zeytuni img {
  animation: zoomIn;
  animation-duration: 4s;
}

.zeytuniHeader {
  font-family: "Bad Script", cursive;
  font-weight: bolder;
  font-size: 5vw;
  margin-top: 60px;
  margin-bottom: 60px;
  animation: backInLeft;
  animation-duration: 4s;
  text-align: center;

  color: #556b2f;
}

.telephoneNumber {
  font-size: 20px;
  margin-bottom: 0;
}

.zeytuniParagraph {
  font-size: 2.5vw;
  animation: backInLeft;
  animation-duration: 4s;
  font-family: 'Dosis', sans-serif;
  color: rgb(7, 77, 31);
}

.navbarLogos img {
  width: 42px;
  padding-bottom: 10px;
}

.row {
  font-size: 30px;
  background-color: #556b2f;

  font-family: "Bad Script", cursive;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav {
  color: rgb(255, 255, 255);
}